body{
    font-size: 16px;
}
ul, p{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    color: #555;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
img {
    max-width: 100%;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.tl {
    text-align: left;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.f12 {
    font-size: 12px;
}
.f13 {
    font-size: 13px;
}
.f14 {
    font-size: 14px;
}
.f15 {
    font-size: 15px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f20 {
    font-size: 20px;
}
.f24 {
    font-size: 24px;
}

.is-invalid{
    border-color: #ee001c !important;
}
.is-invalid-msg{
    clear: both;
    font-size: .9166em;
    line-height: 1em;
    color: #ee001c;
    margin-top: 5px;
    margin-bottom: 5px;
}