body{
    font-size: 16px;
}
ul, p{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}


.tl {
    text-align: left;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.f12 {
    font-size: 12px;
}
.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f20 {
    font-size: 20px;
}